.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.text {
  color: var(--dl-color-gray-black);
  font-size: 2.5rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.Banner {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 274px;
  display: flex;
  padding: 48px;
  margin-top: 48px;
  align-items: center;
  margin-bottom: 48px;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url("https://images.unsplash.com/photo-1569336415962-a4bd9f69cd83?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHxtYXB8ZW58MHx8fHwxNjQ3NTY0MzEy&ixlib=rb-1.2.1&w=1500");
}
.Cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .text {
    text-align: center;
  }
  .Cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .Banner {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .Banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1569336415962-a4bd9f69cd83?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHxtYXB8ZW58MHx8fHwxNjQ3NTY0MzEy&ixlib=rb-1.2.1&w=1500");
  }
}
